<link rel="stylesheet" href="css/footer.css">

<footer id="footer" class="row">
  <div class="container-fluid bottom">
    <div class="info column">
      <a href="/">
        <div>
          <img class="footer-logo" src="images/logo-white.png" alt="logo-image">
        </div>

      </a>
      <p class="data-paragraph-1">+201005008260</p>
      <p class="data-paragraph-2">Fifth Settlement, New Cairo, Egypt</p>
    </div>

    <div class="company column">
      <h3 class="company-heading">Company</h3>
      <a class="company-anchor" href="/about">About</a><br>
      <a class="company-anchor">Contact Us</a><br>
      <a class="company-anchor">Terms</a><br>
    </div>

    <div class="product column">
      <h3 class="product-heading">Product</h3>
      <a class="product-anchor" href="/cost">Cost</a><br>
      <a class="product-anchor" href="/locations">Locations</a><br>
      <a class="product-anchor" href="/sign-up">Create Account</a><br>
    </div>
  </div>

  <div id="social">
    <div id="container">
      <a class="icon2" href="http://www.twitter.com"><i class="fab fa-twitter-square fa-3x"></i></a>
      <a class="icon2" href="http://www.facebook.com"><i class="fab fa-facebook-square fa-3x"></i></a>
      <a class="icon2" href="http://www.instagram.com"><i class="fab fa-instagram-square fa-3x"></i></a>
    </div>
  </div>

  <p class="bilbo">@2021 Bilbo Ads, All terms & rights reserved</p>
</footer>

</body>

</html>
