<%- include("partials/header-purple") -%>

<link rel="stylesheet" href="css/cost.css">

<section id="cost">

  <hr class="maps-hr">
  <h1 class="cost-heading">Billboard Advertising Cost</h1>

  <div class="features">
    <div class="row">
      <div class="feature col-lg-6">
        <i class="features-icon fab fa-adversal fa-4x"></i>
        <h4>Pick Billboards</h4>
        <p>Each billboard has base price per 4-hour slot <br> in each day. This price varies from 1000 LE to
          <br> 10,000 LE depends on the location and number of <br>viewers.</p>
      </div>

      <div class="feature col-lg-6">
        <i class="features-icon fas fa-hourglass-start fa-4x"></i>
        <h4>Choose Hours</h4>
        <p>
          Our day is divided into 6 4-hour slots, pick <br>any slot and its free of charge, if you pick<br>
          more than one slot, the price will be <br>multiplied by the total number of slots.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="feature col-lg-6">
        <i class="features-icon fas fa-chart-line fa-4x"></i>
        <h4>Adjust Frequency</h4>
        <p>
          Frequency is the number of times your ad will pop<br> up during every slot(s) you picked,
          the first 10 times <br>are free of charge, after that each 10 times will <br>cost 250 LE / billboard
          for the length of your campaign.
        </p>
      </div>

      <div class="feature col-lg-6">
        <i class="features-icon fas fa-stopwatch-20 fa-4x"></i>
        <h4>Display Seconds</h4>
        <p>
          Choose the number of seconds your ad will be<br> displayed every time it pops up!
          The first 5 seconds <br>are free of charge, each 5 seconds after that will <br>cost 500 LE / billboard
          for the length of your campaign.
        </p>
      </div>
    </div>
  </div>

  <a class="" href="/cost-estimator">
    <button type="button" class="cost-btn btn btn-lg">Use Our Cost Estimator</button>
  </a>
</section>

<%- include("partials/footer") -%>
