html {
scroll-behavior: smooth;
}
.process {
  padding: 15% 3% 5% 3%;
  background-color: #1e1e1e;
}

#payment {
  background-color: #1e1e1e;
  padding: 0 6% 5% 6%;
  height: 1200px;
  overflow: hidden;
  bottom: 0;
}

.payment-hr {
  position: relative;
  bottom: 10px;
  border: none;
  height: 12px;
  width: 200px;
  background: #fff;
  display: inline-block;
}

.payment-heading {
  color: #A7D129;
  font-family: 'Poppins', sans-serif;
}

.data {
  position: relative;
  left: -430px;
  padding-left: 10%;
  padding-top: 2%;
}

input::placeholder {
  color: #000;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 1.7rem;
  padding-bottom: 1%;
  color: #A7D129;
}

.btn-submit {
  background-color: #A7D129;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  position: relative;
  left: 195px;
}

.btn-submit:hover {
  background-color: #616F39;
  transition: 0.5s;
  color: #fff;
}

#map {
  height: 890px;
  width: 700px;
  position: relative;
  left: 650px;
  top: -890px;
}

/* form */

/* 64ac15 */
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
  border-color: #A7D129;
}
input:focus + .input-icon i {
  color: #000;
}
input:focus + .input-icon:after {
  border-right-color: #A7D129;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
input[type="radio"] + label i {
  padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: #000;
  color: #fff;
  border-color: #A7D129;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}
input:checked + label:after {
  opacity: 1;
}
select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: #000;
  color: #fff;
}
.input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #000;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}


/* process */

.pgb .step {
text-align: center;
position:relative;
}
.pgb h2 {
  color: #A7D129;
font-size:1.3rem;
}
.pgb .step p {
position:absolute;
height:60px;
width:100%;
text-align:center;
display:block;
z-index:3;
color:#fff;
font-size:160%;
line-height:55px;
opacity:.7;
z-index: 0;
}
.pgb .active.step p {
opacity:1;
font-weight:600;
}
.pgb .img-circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius:50%;
  background-color:#9E9E9E;
border:4px solid #000;
}
.pgb .complete .img-circle {
  background-color:#000;
}
.pgb .active .img-circle {
  background-color:#A7D129;
}
.pgb .step .img-circle:before {
    content: "";
    display: block;
    background: #9E9E9E;
    height: 4px;
    width: 50%;
    position: absolute;
    bottom: 50%;
    left: 0;
    z-index: -1;
    margin-right:24px;
}
.pgb .step.complete .img-circle:before {
    background: #112e41;
}
.pgb .step .img-circle:after {
    content: "";
    display: block;
    background: #9E9E9E;
    height: 4px;
    width: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: -1;
}
.pgb .step.active .img-circle:after {
    background: #9E9E9E;
}

.pgb .step.complete .img-circle:after, .pgb .step.active .img-circle:before {
    background: #112e41;
}

.pgb .step:last-of-type .img-circle:after, .pgb .step:first-of-type .img-circle:before{
    display: none;
}
